@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap&famfamily=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap&family=Monsieur+La+Doulaise&display=swap');
nav ul {
    display: flex;
    gap: 20px;
    font-size: 20px;
    

}

.nav-container li:not(:last-child){
    padding-right: 10px;
    border-right: 1px  solid white;
    text-align: center;
}

.nav-container{
    font-family: 'Cormorant Garamond';
    display: flex;
    justify-content: space-between;
    background:linear-gradient(135deg, rgb(54, 53, 53),rgb(25, 24, 24),rgb(25, 24, 24));
    align-items: center;
    padding: 20px  3rem;
    border-bottom: 1px solid;
    border-image: var(--copper-color) 1;

  

}

.special-title{
    font-family: 'Ballet';
    font-weight: 100;
    color:rgb(254, 147, 71)

   
}
.lower-title{
    font-size: 20px;
    font-weight: 100;
}
.title{
 
    display: flex;
    flex-direction: column;
    font-size: 30px;
    line-height: 1;
    font-weight: 100;
}
.nav-container li {
    transition: all 0.3 ease;
}
.nav-container li {
    position: relative;
    height: 25px;
    display: flex;
    align-items: center;
}
.nav-container li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;          
    height: 2px;
    background: var(--copper-color);
    transition:  0.3s ease;
 
}
.nav-container li a:hover::after{
    width: 90%;
}
