footer {
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.footer-page{
    width: 70%;
    display: flex;
    justify-content: center;
}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    place-items: center;
    align-items: start; 
}   

.footer-content ul {
    line-height: 1.2;
    gap: 0;
    font-size: 15px;
}
.logo {
    background: var(--copper-color);
    border-radius: 20px;
    

} 

.footer-text{
    grid-column: 4;
}
.footer-page  ul{
    display: flex;
    flex-direction: column;
}

.social-media  {
    display: flex;
    flex-direction: column
}
