@media (max-width:693px) {
    .nav-container ul{
        display: none;
    }
    .schedul-container{
        flex-wrap: wrap;
        width: 100%;
        
    }
    .table th,
    .table td {
        padding: px 0px;
    }  
}